body {
  padding: 0 10px 0; }

#flush {
  margin-top: 8px; }

#language-switch-container {
  margin: 8px 10px 0 0; }

#page-list-container,
#page-texts-container {
  display: inline-block;
  vertical-align: top; }

#pages .list-group-item,
#page-texts .list-group-item {
  padding: 3px 0 0 15px;
  line-height: 2em; }
  #pages .list-group-item:hover,
  #page-texts .list-group-item:hover {
    background-color: #eee; }
    #pages .list-group-item:hover .delete,
    #page-texts .list-group-item:hover .delete {
      visibility: visible; }
  #pages .list-group-item span,
  #page-texts .list-group-item span {
    display: inline-block;
    min-height: 1.4em;
    line-height: 1.4em;
    margin: 2px 0 -5px;
    vertical-align: top; }
  #pages .list-group-item span:first-of-type,
  #page-texts .list-group-item span:first-of-type {
    margin-right: 20px; }
  #pages .list-group-item .delete,
  #page-texts .list-group-item .delete {
    visibility: hidden; }

#pages .list-group-item span {
  width: 150px; }
#pages span:focus {
  background: #fff none;
  color: #000;
  text-shadow: none;
  outline-color: #fff; }

#page-texts .list-group-item .name {
  width: 150px; }
#page-texts .list-group-item .content {
  width: 300px; }
  #page-texts .list-group-item .content.outdated {
    border: 1px solid #f00; }
#page-texts .list-group-item .basecontent {
  display: none;
  width: 300px; }
#page-texts .panel-heading.list-group-item .name {
  margin-top: 0; }

.showTranslation #page-texts .list-group-item .basecontent {
  display: inline-block; }

#add-new-page,
#add-new-text {
  display: block; }
