body {
  padding: 0 10px 0;
}

#flush {
  margin-top: 8px;
}

#language-switch-container {
  margin: 8px 10px 0 0;
}

#page-list-container,
#page-texts-container {
  display: inline-block;
  vertical-align: top;
}

#pages,
#page-texts {
  .list-group-item {
    padding: 3px 0 0 15px;
    line-height: 2em;

    &:hover {
      background-color: #eee;

      .delete {
        visibility: visible;
      }
    }

    span {
      display: inline-block;
      min-height: 1.4em;
      line-height: 1.4em;
      margin: 2px 0 -5px;
      vertical-align: top;
    }
    span:first-of-type {
      margin-right: 20px;
    }

    .delete {
      visibility: hidden;
    }
  }
}

#pages {
  .list-group-item {
    span {
      width: 150px;
    }
  }
  span:focus {
    background: #fff none;
    color: #000;
    text-shadow: none;
    outline-color: #fff;
  }
}

#page-texts {
  .list-group-item {
    .name { width: 150px; }
    .content {
      width: 300px;
      &.outdated {
        border: 1px solid #f00;
      }
    }
    .basecontent {
      display: none;
      width: 300px;
    }
  }

  .panel-heading.list-group-item .name {
    margin-top: 0;
  }
}

.showTranslation #page-texts .list-group-item .basecontent {
  display: inline-block;
}

#add-new-page,
#add-new-text {
  display: block;
}

